<div class="items media" ng-repeat="item in outfitsShow.outfit.items">
  <div class="media-left">
    <ul class="row">
      <li class="col-xl-2">
        <ul class="tile">
    <a ui-sref="itemsShow({ id: item._id })">
      <img class="media-object" ng-src="{{ item.image }}">
    </a>
  </ul>
</li>
</ul>
</div>

  <!-- </div>
  <div class="media-body">
    <h4 class="media-heading">{{ item.itemname }}</h4>
  </div>
</div> -->
<!-- <button class="btn btn-default" ui-sref="outfitsEdit({id:outfitsShow.outfit._id})">Edit</button>
<button class="btn btn-default" ng-click="outfitsShow.outfitDelete()">Delete</button>
<a href="http://www.facebook.com/sharer.php?u=http://localhost:3000/outfits/" target="_blank">
        <img src="https://simplesharebuttons.com/images/somacro/facebook.png" alt="Facebook" />
    </a>
    <a href="javascript:void((function()%7Bvar%20e=document.createElement('script');e.setAttribute('type','text/javascript');e.setAttribute('charset','UTF-8');e.setAttribute('src','http://assets.pinterest.com/js/pinmarklet.js?r='+Math.random()*99999999);document.body.appendChild(e)%7D)());">
       <img src="https://simplesharebuttons.com/images/somacro/pinterest.png" alt="Pinterest" />
   </a>
   <a href="https://twitter.com/share?url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank">
     <img src="https://simplesharebuttons.com/images/somacro/twitter.png" alt="Twitter" />
 </a>
   <a href="https://www.instagram.com/url=https://simplesharebuttons.com&amp;text=Simple%20Share%20Buttons&amp;hashtags=simplesharebuttons" target="_blank" id="share-buttons">
     <img src="http://sfile.f-static.com/image/users/457060/ftp/my_files/38-instagram-3-128.png?sopC=1472436576917" alt="Instagram" />
 </a> -->
