$color-background: #FFF;
$color-main: #C9C9C9;
$color-active: #FFF;
$color-link: #FFF;

$title-font: Lombok, sans-serif;
$main-font: 'Open Sans', sans-serif;
$button-height: 27px;
$button-width: 35px;
