@import "bower";
@import "variables";
@import "typography";
@import "items";
@import "nav";

body {
  background-image: url("../main6.jpg");
  background-repeat: no-repeat;
  background-size: cover;  
}
