<!-- <h1>{{ itemsShow.item.item }}</h1>
<img ng-src="{{ itemsShow.item.image }}">
<button class="button" class="button"  class="btn btn-default" ui-sref="itemsEdit({id: items.item.id})">Edit </button> -->
<!-- <button class="btn btn-default" ng-click="itemsShow.itemDelete()">Delete</button> -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
      </div>
      <div class="modal-body">
      <img ng-src="{{ itemsShow.item.image }}">
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary" ui-sref="itemsEdit({id: items.item.id})">Edit</button>
        <button type="button" class="btn btn-primary" ng-click="itemsShow.itemDelete()">Delete</button>
      </div>
    </div>
  </div>
</div>
<!--Want this to be a modal  -->
